main.container
  section.row
    article.col-sm-8
      h1 Content Types
      p.lead These are the primary content types for <a href="http://lowertowntoday.com" target="_blank">lowertowntoday.com</a>
      ol
        li: a(href="{{ site.baseurl }}/ct/") Overview
        li: a(href="{{ site.baseurl }}/ct/article") Article
        li: a(href="{{ site.baseurl }}/ct/building") Building
        li: a(href="{{ site.baseurl }}/ct/establishment") Establishment
        li: a(href="{{ site.baseurl }}/ct/event") Event
        li: a(href="{{ site.baseurl }}/ct/landing-page") Landing Page
