section.b_bio
  .b_bio_name
  .b_bio_title Chief Manager
  img(src="http://mikegreg.com/sites/default/files/mikegreg-3.png").b_bio_img.img-responsive
  .b_bio_contact
    .b_bio_contact_name Mike Gregory
    div
      a.b_bio_contact_phone 651-633-5311
    div
      a.b_bio_contact_email mg@mikegreg.com
    .b_bio_contact_address--l1 1945 Sharondale Ave
    .b_bio_contact_address--l2 Roseville, MN 55113
