section.b_location
  //.b_contact_title Contact Us
  .dropdown
    button(class="" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true").btn.btn-default.dropdown-toggle Day <span class="caret"></span>
    ul(aria-labelledby="dropdownMenu1").dropdown-menu
      li: a(href="#") Monday
      li: a(href="#") Tuesday
      li: a(href="#") Wednesday
      li: a(href="#") Thursday
      li: a(href="#") Friday
      li: a(href="#") Saturday
      li: a(href="#") Sunday
