section.b_hours
  h2.b_hours_title Opening Hours
  ul.b_hours_info.list-unstyled
    li Mon: 7am-9pm
    li Tue: 7am-9pm
    li Wed: 7am-9pm
    li Thu: 7am-9pm
    li Fri: 7am-9pm (midnight if event)
    li Sat: 7am-9pm (midnight if event)
    li Sun: 7am-9pm
  p Full menu. Breakfast served all day. Kitchen open until half hour before close. Full bar
    

    
