.row(ng-controller="HhController as hour")
  .content_body.col-sm-9
    h1 LtT's Guide to the Lowertown Happy Hours
    p.lead Delicious Apps, Beers, and Drinks Coming Soon!
    .row
      p.col-sm-12 
  .content_nav.col-sm-3
    p
      | {% include b_ef--happy-hour.html %}
  .col-sm-12
    h2(ng-bind="hour.special.where")
    .hh--what(ng-bind="hour.special.what")
    .hh--day(ng-bind="hour.special.day")
    .hh--price(ng-bind="hour.special.price")
