.row
  .col-sm-4
    p.content_image
      img(src="{{ site.baseurl }}/imgs/logo_farmers-market.jpg").img-responsive
    .content_date
      h3 Schedule 
      ul.list-unstyled
        li Saturdays: 6:00am – 1:00pm
        li Sundays: 8:00am – 1:00pm
      p.small (Open from May-November, check stpaulfarmersmarket.com for exact dates)
    
  .col-sm-8
    h1 LtT's Guide to the Lowertown Farmers' Market
    .row 
      .content_body.col-sm-9
        p.lead Delicious Fresh Produce Coming Soon!
        .row
          p.col-sm-12 In 1853 St. Paul was indeed a frontier town. Dirt streets, log cabins and steamboats were the order of the day. As early as 1852 the Minnesota Pioneer newspaper called for an organizational Farmers' Market. A Market House, a two-story brick building, was constructed at Seventh and Wabasha streets. It was St. Paul's first public market. While fresh produce was only available during the season, dairy products, flour, cakes and candies could be purchased year-round.
          p.col-sm-6 The Market has had several homes during its long history, but always in the downtown St. Paul area. Its longest tenure was at Tenth and Jackson streets, opening in 1902. It remained there until freeway construction and downtown development claimed the site, causing a move to Fifth and Wall streets in 1982. A new design reminiscent of the original market--corrugated fiberglass--covers the 167 open-air stalls and bricks pave the walkways. The location today is near one of the areas selected in 1853 by St. Paul to house the first Farmers' Market.
          p.col-sm-6 Today plans continue to develop a new and bigger market. The Market is operated by the St. Paul Growers' Association, Inc. The association allows only fresh, locally grown produce to be sold--directly from the grower to the consumer. Also available are bakery goods, cheese, poultry, buffalo, venison, beef, pork, lamb, maple syrup, eggs, bagel sandwiches, honey, organic plants and produce, flowers, plants, shrubs and many other items.
          p.col-sm-12.lead For over 150 years The St. Paul Farmers' Market has been proud to enjoy the support of the community.  That tradition of support continues today.
      .content_nav.col-sm-3
        p
          | {% include n_lp--farmers-market.html %}
    
