nav.n_food-drink
  //h3.n__title [blank]
  ul.n_food-drink_l.nav.nav-pills.nav-stacked
    li.n_food-drink_l_i
      a(href="http://www.barriotequila.com/" target="_blank") Barrio Tequila Bar
    li.n_food-drink_l_i
      a(href="http://www.oxcartalehouse.com/" target="_blank") Big River Pizza
    li.n_food-drink_l_i
      a(href="http://blackdogstpaul.com/" target="_blank") Black Dog Coffee and Wine Bar
    li.n_food-drink_l_i
      a(href="http://www.thebulldoglowertown.com/" target="_blank") The Bulldog Lowertown
    li.n_food-drink_l_i
      a(href="http://www.christos.com/christos.html" target="_blank") Christos Greek Restaurant
    li.n_food-drink_l_i
      a(href="http://www.goldensdeli.us/" target="_blank") Golden's Deli
    li.n_food-drink_l_i
      a(href="http://www.gopherbar.com/" target="_blank") Gopher Bar
    li.n_food-drink_l_i
      a(href="http://www.heartlandrestaurant.com/" target="_blank") Heartland Restaurant & Farm Direct Market
    li.n_food-drink_l_i
      a(href="https://www.facebook.com/pages/Kellys-Depot-Bar/149585945071219" target="_blank") Kelly's Depot Bar & Grill
    li.n_food-drink_l_i
      a(href="http://www.oxcartalehouse.com/" target="_blank") Ox Cart Ale House
    li.n_food-drink_l_i
      a(href="http://publickitchenstpaul.com/" target="_blank") Public kitchen + bar
    li.n_food-drink_l_i
      a(href="http://www.swcraftbar.com/" target="_blank") SW Craft Bar
    li.n_food-drink_l_i
      a(href="http://www.tanpoporestaurant.com/" target="_blank") Tanpopo Noodle Shop
    li.n_food-drink_l_i
      a(href="http://www.thebutteredtin.com/" target="_blank") The Buttered Tin
    li.n_food-drink_l_i
      a(href="http://www.robincommunications.com/hat_trick_lounge.htm" target="_blank") The Hat Trick Lounge
    li.n_food-drink_l_i
      a(href="http://saintdinette.com/" target="_blank") Saint Dinette
    li.n_food-drink_l_i
      a(href="http://worldofbeer.com/Locations/StPaul" target="_blank") World of Beer
    //li.n_food-drink_l_i
      //a(href="" target="_blank")
    
