nav.n_
  //h3.n__title [blank]
  ul.n__l.nav.nav-pills.nav-stacked
    li.n__l_t--1
      a(href="{{ site.baseurl }}/#") History
    li.n__l_t--2
      a(href="{{ site.baseurl }}/#") Tour
    li.n__l_t--3
      a(href="{{ site.baseurl }}/#") Gallery
    li.n__l_t--4
      a(href="{{ site.baseurl }}/#") Directions
    li.n__l_t--5
      a(href="{{ site.baseurl }}/#") Parking
