section.row
  .col-sm-12
    h3 Events this Week
  .col-sm-4
    .event_i
      .event_i_date MAR 10th
      .event_i_desc 8:00pm Ben Rogue (acoustic hip-hop)
  .col-sm-4
    .event_i
      .event_i_date MAR 11th
      .event_i_desc 8:00pm Kirchhof Harris Singh Trio
  .col-sm-4
    .event_i
      .event_i_date MAR 12th
      .event_i_desc 9:00am Farmers’ Market Folk with Jerry
      .event_i_desc 8:00pm Jerry Kosak & Blues 
