section.row
  .col-sm-12
    h3 Today's Events
  ul.list-unstyled
    li.col-sm-12
      .event_i_time 7:00pm 
      a(href="#").event_i_title Ben Rogue (acoustic hip-hop)
    li.col-sm-12
      .event_i_time 8:00pm
      a(href="#").event_i_title Kirchhof Harris Singh Trio
    li.col-sm-12
      .event_i_time 9:00am
      a(href="#").event_i_title Farmers’ Market Folk with Jerry
    li.col-sm-12
      .event_i_time 1:00am
      a(href="#").event_i_title Jerry Kosak & Blues 
