
section.row
  article
    .col-sm-5.news--feature_img
      img(src="http://fillmurray.com/600/400").img-responsive
    .col-sm-7
      h3 Bill Is Up-To Crazy Shit Again
      p Find out what it is this time, you won't believe it. Because this is only placeholder text and it should not be taken seriously.
      p So why don't you do us all a favor and ...
      a(href="#").btn.btn-default View Murray
