
section.row
  aside.col-sm-2.col-md-3.sb--first

  article.col-sm-7
    h1 Go Saints!
    p.lead Personally I hate their site with an eternal passion.
    section.b_.row
      .col-sm-6.col-md-4
        h3 
        p 
  aside.col-sm-3.col-md-2
